<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>apis.data.go.kr</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <false/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
        </dict>
    </dict>
    
    <key>NSDocumentsFolderUsageDescription</key>
    <string>문서를 가져오기 위해 접근 권한이 필요합니다.</string>
    
    <key>NSPhotoLibraryUsageDescription</key>
    <string>사진을 가져오기 위해 접근 권한이 필요합니다.</string>
    
    <key>NSCameraUsageDescription</key>
    <string>사진 촬영을 위해 카메라 접근 권한이 필요합니다.</string>
    
</dict>
</plist>
